@config "./tailwind.config.ts";
@import "tailwindcss";

@layer base {
  :root {
    --bg-default: 253 253 253;
  }

  html.dark {
    --bg-default: 26 26 26;
  }

  body {
    @apply bg-[rgb(var(--bg-default))];
  }
}


/* alterar estilos por aqui globalmente (criar classes - texto primario, texto secundario, p.g para trocar as cores) */
